* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Norse Bold";
    src: url(/fonts/Norse-Bold.otf);
}

:root {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
}

/* Side-Section */

.side-section {
    background-image: url(/img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 35%;
    padding: 1rem;
}

.logo-img {
    height: 12rem;
    width: auto;
}

.logo-text {
    font-family: "Norse Bold";
    color: white;
    font-size: 8rem;
}

.bg-credit,
.bg-credit a {
    color: white;
    text-align: center;
    font-size: 12px;
    margin-bottom: 1rem;
}

/* Form */

.form-section {
    padding: 6% 4rem;
    width: 65vw;
    background-color: whitesmoke;
}

.form-text,
.top-text {
    font-size: 1.5rem;
    font-weight: 500;
}

.form-text {
    margin-right: 20%;
}

.top-text {
    margin-bottom: 1.5rem;
}

.bot-text {
    margin-bottom: 4rem;
}

fieldset {
    background-color: white;
    border: none;
    margin: 0 -4rem;
    padding: 1rem 4rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.form-container {
    display: flex;
    gap: 8rem;
}

label {
    display: block;
    text-transform: uppercase;
}

.info-container {
    margin-bottom: 1rem;
}

input {
    /* margin-bottom: 1rem; */
    height: 2rem;
    width: 250px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    padding: 2px 10px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
}

input:user-invalid {
    outline: none;
    border: 1px solid red;
}

button {
    margin-top: 2rem;
    font-size: 1.1rem;
    padding: 1rem;
    width: 230px;
    color: white;
    background-color: #596D48;
    border-radius: 0.5rem;
    font-weight: 500;
    border: none;
}

button:hover {
    background-color: #5e7a44;
    cursor: pointer;
}

.account-text {
    margin-top: 2rem;
    font-weight: 500;
}

.account-text a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}

.error {
    color: red;
    font-size: 12px;
    /* margin-top: -1rem; */
}